<header class="header">
    <a href="index.html">
        <img src="img/DLK.jpg" alt="#" class="logo">
    </a>
    <nav class="undotted header-menu">
        <ul class="undotted header-list">
            <li>
                <a href="blog.html">Blog</a>
            </li>
            <li>
                <a href="catalog.html">Catalog</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
        </ul>
    </nav>
    <img src="img/Search.png" alt="#" class="search-icon">
    <a href="contact.html" class="header-search">Contact Us</a>
</header>